Veremos inserção de dados, remoção de colunas, merge e gráficos
Autor: Henrique Poyatos e galera

In [1]:
#Importando biblioteca pandas no Python
import pandas as pd

ca_df = pd.read_excel("ca-2021-02.xlsx")
display (ca_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA

In [3]:
#Inserção simples de dado (recapitulação)
ca_df['Ativo'] = True
display(ca_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
 16  Ativo              168409 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), object(13)
memory usage: 20.7+ MB

None

In [7]:
#Criando um coluna com condição especifica
ca_df['Obs'] = ["Melhor Cidade" if municipio == 'OSASCO' else 'Você Não' for municipio in ca_df['Municipio']]
display(ca_df.loc[ca_df['Municipio'].isin(['OSASCO','INDAIATUBA', 'CAMPINAS']), ['Municipio', 'Obs']])

       Municipio            Obs
2607    CAMPINAS       Você Não
2608    CAMPINAS       Você Não
2609    CAMPINAS       Você Não
2610    CAMPINAS       Você Não
2611    CAMPINAS       Você Não
...          ...            ...
162059    OSASCO  Melhor Cidade
162060    OSASCO  Melhor Cidade
162061    OSASCO  Melhor Cidade
162062    OSASCO  Melhor Cidade
162063    OSASCO  Melhor Cidade

[2919 rows x 2 columns]

In [12]:
#Estimando se o produto é caro ou barato de acordo com o valor médio dos combustiveis totais obtido anteriormente
#Valor médio dos combustiveis é de 6 reais aproximadamente
import numpy as np

ca_df['Media'] = np.where(ca_df['Valor de Venda'] > 6.00, 'Acima', 'Abaixo')
display(ca_df[['Revenda', 'Valor de Venda', 'Media']])

                                           Revenda  Valor de Venda   Media
0                             POSTO ARAPIRACA LTDA           6.799   Acima
1                             POSTO ARAPIRACA LTDA           5.299  Abaixo
2                             POSTO ARAPIRACA LTDA           5.549  Abaixo
3                             POSTO ARAPIRACA LTDA           6.899   Acima
4                             POSTO ARAPIRACA LTDA           5.649  Abaixo
...                                            ...             ...     ...
168404  COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA           5.859  Abaixo
168405           ABC DISTRIBUICAO DE PETROLEO LTDA           6.580   Acima
168406           ABC DISTRIBUICAO DE PETROLEO LTDA           4.740  Abaixo
168407           ABC DISTRIBUICAO DE PETROLEO LTDA           5.448  Abaixo
168408           ABC DISTRIBUICAO DE PETROLEO LTDA           6.580   Acima

[168409 rows x 3 columns]